
.App {
  background-color: #adc7e2;
}

.heading{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 2px 2px #1e75e6;
}

.form {
  background: #95b7ce;
  padding: 4px;
  box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  display: inline-block;
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: 20%;
  
}

.heading, .form{
  font-family: "Neucha", cursive;
}

.Area, .X, .Y, .D, .Commands{
  color: black;
}

.input_box {
  display: relative;
  width: 100%;
  position: relative;
}

.form .input_box {
  width: 100%;
  text-align: center;
  border-radius: 30px;
  padding: 10px 5px 10px;
  font-size: 15px;
  border: none;
  box-shadow: inset 0 0 5px black;
  margin-bottom: 15px;
}

 .input_box:focus {
  outline: none;
}

.btn {
  width: 20%;
  height: 40px;
  margin: 5px;
  border-radius: 20px;
  border: none;
  font-size: 15px;
  background-color: #452b9c;
  color: rgb(233, 236, 243);
  transition: 0.2s all;
  box-shadow: 0 0 10px black;
  margin-top: 450px;
 
}

.form .left {
  float: left;
  width: 30%;
  margin-left: 5px;
}

.form .result {
  float: right;
  width: 30%;
}

.btn:hover {
  background-color: #388ae2;
}

.btn:active {
  transform: scale(0.8);
  box-shadow: 0 0 5px black;
}

@media screen 
  and (min-device-width: 678) 
  and (max-device-width: 1600px) 
  and (min-resolution: 192dpi) { 
     .btn {width:20%}
    .btn {top: 115px;}
}

/* for galaxy fold */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
      .btn {margin-left: 25px;}
      .heading{margin-top: -25px;}
      .form{bottom: 5px;}

}

